.todoList {
  padding: 3rem;
}

.todoListContainer {
  background-color: #fff;
  max-width: 40rem;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
