.mainLayout {
  display: flex;
  min-height: 100vh;
  --widthSideBar: 12rem;
}
.sidenav {
  flex: 0 0 var(--widthSideBar);
  max-width: var(--widthSideBar);
  padding: 2rem;
  background-color: aquamarine;
  border-right: 1px solid #ddd;
  z-index: 20;
}

.content {
  z-index: 10;
  padding: 2rem;
  flex: 0 0 calc(100% - var(--widthSideBar));
  max-width: calc(100% - var(--widthSideBar));
}
